@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --color-fondo: #f7f0ff;
  --color-primario: #c7c5f1;
  --color-texto: #110202;

  --fuente-principal: "Inter", sans-serif;
  --fuente-titulos: "League Spartan", sans-serif;

  --detalles: #40c4be;
  --detalles-hover: #30bfb8;
}

/* BODY */
body {
  min-height: 100vh;
  background: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--fuente-principal);
  padding-top: 70px;
}

/* HEADER */
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, var(--color-primario), #d7d5ff);
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* CONTENEDOR */
#contenedorTratamientos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* TARJETAS */
article {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

article:hover {
  transform: translateY(-5px);
}

/* BOTÓN */
.btn-detalle {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: var(--detalles);
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
.btn-volver {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: var(--detalles);
  color: rgb(150, 21, 21);
  text-decoration: none;
  border-radius: 8px;
}

.btn-detalle:hover {
  background: var(--detalles-hover);
}