nav button {
  margin: 0.2rem;
}

section {
  padding: 1rem;
}

article {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

button {
  background: #0077cc;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

dialog {
  width: 400px;
  border-radius: 10px;
}

img {
  width: 100%;
}

.btn-detalle {
  background: linear-gradient(135deg, #00b4db, #0083b0);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.btn-detalle:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(30deg);
  transition: all 0.5s ease;
}

.btn-detalle:hover:after {
  left: 120%;
}

section#contenedorTratamientos {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
        }
#contenedorTratamientos article {
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 8px;
        }
dialog::backdrop {
            background-color: rgba(0, 0, 0, 0.5);
        }