/* 
Manejar toda la estructura de la página con GRID y ya la informacion que vaya dentro de cada etiqueta con flex

*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-fondo: #F0F7FF;
    --color-primario: #c7c5f1;
    --color-texto: #110202;
    --fuente-principal: @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
        font-family: "Inter", sans-serif;;
    --titulos: @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');
        font-family: "League Spartan", sans-serif;
    --detalles: #40c4be;
    --detalles-hover: #30bfb8; 
}

.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  border-bottom: 1px solid#110202;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #c7c5f1, #c7c5f1, #c7c5f1);
}

.top-menu a {
  color:#110202;
  text-decoration: none;
  font-weight: 500;
  margin-right: 15px;
  padding: 8px 14px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.top-menu a:hover {
  background: #F0F7FF;
  color:#110202;
}

body {
  margin-top: 60px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.barra_navegacion {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 50px;
    background-color: var(--color-primario);
    font-family: var(--fuente-principal);
    color: var(--color-texto);
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.footer_navegacion {
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.footer {
    color: var(--color-texto);
    font-size: 14px;
    font-family: var(--fuente-principal);
    text-align: center;
}

.barra_inferior{
    height: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_b_inferior{
    color: var(--color-texto);
    font-size: 10px;
    font-family: var(--fuente-principal);
    text-align: center;
}

.derechos_reservados{
    color: white;
    font-size: 10px;
    font-family: var(--fuente-principal);
    text-align: center;
    
}

#opciones_navegacion{
    display:flex ;
}

.logo{
    background-color: var(--detalles);
    width: 20px;
    height: 20px;
}

main{
    flex: 1;
}





