* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-fondo: #F0F7FF;
    --color-primario: #0056B3;
    --color-texto: #1A202C;
    --fuente-principal: Georgia, 'Times New Roman', Times, serif;
    --detalles: #D4AF37;
    --detalles-hover: #B8972F;
}

.barra_navegacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 50px;
    background-color: var(--color-primario);
    font-family: var(--fuente-principal);
    color: var(--color-texto);
    align-items: center;
    text-align: center;
}

#opciones_navegacion{
    display:flex ;
}

.logo{
    background-color: var(--detalles);
    width: 20px;
    height: 20px;
}

main{
    height: 30px;
}





